language: ruby
rvm:
- 2.4.3

addons:
  apt:
    packages:
    - libcurl4-openssl-dev # Link checker

cache: bundler

branches:
  only:
  - master
  - release

script: ".travis/build.sh"

deploy:
  provider: pages
  local-dir: ./site
  target-branch: gh-pages
  email: deploy@travis-ci.org
  name: Deployment Bot
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: release


env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
