<head>

  {% if page.title == blank %}
  <title>{{ site.title }}</title>
  {% else %}
  <title>{{ site.title }} - {{ page.title }}</title>
  {% endif %}

  <link rel="icon" sizes="48x48 32x32 16x16" href="/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- All my CSS is critical ;) -->
  <style>
    {% capture style %}
    {% include style.scss %}
    {% endcapture %}
    {{ style | scssify }}
  </style>

  <!-- Load CSS asynchronously -->
  <script>
    {% include loadCSS.min.js %}

    /* Font-awesome */
    loadCSS("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

    /* Google Fonts */
    loadCSS("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:900|Open+Sans|Source+Code+Pro");
  </script>

  <!-- Fallback resource loading without javascript -->
  <noscript>
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:900|Open+Sans|Source+Code+Pro">
  </noscript>

</head>
