<head>

  <!-- TODO make this nice! -->
  <title>{{ site.title }} - {{ page.title }}</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Load CSS asynchronously -->
  <script>
    {% include loadCSS.min.js %}

    /* Stylesheet */
    loadCSS("/assets/css/style.css");

    /* Google Fonts */
    loadCSS("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:900|Open+Sans|Source+Code+Pro");
  </script>

  <!-- Fallback resource loading without javascript -->
  <noscript>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:900|Open+Sans|Source+Code+Pro">
  </noscript>

</head>
