/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 900;
  padding-top: (1/3) * 1em;
  padding-bottom: (1/3) * 1em;
  line-height: 1.5em;
}
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h1:after, h2:after {
  content: ' ';
  display: block;
  border: 0.5px solid $text-color;
}


/*
 * Paragraphs
 */
p {
  line-height: 1.5em;
  padding-bottom: $padding-unit;
}

/*
 * Emphasis
 */
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

/*
 * Lists
 */
ol, ul {
  margin-left: $spacing-unit;
}
li, dt, dd {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
// Definition list
dt {
  font-weight: bold;
}
dd {
  margin-left: $spacing-unit;
}

/*
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: darken($link-color, 15%);
  }

  &:hover {
    text-decoration: underline;
  }
}

/*
 * Code
 */
pre, code {
  font-family: $code-font;
  font-size: $font-size-code;
  border: 1px solid darken($code-background-color, 5%);
  border-radius: 3px;
  background-color: $code-background-color;
}
code {
  padding: 1px 5px;
}
pre {
  padding: 8px 12px;
  overflow-x: auto;
  margin-bottom: $padding-unit;

  > code {
    line-height: 1.5em;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/*
 * Tables
 */
table {
  width: 100%;
  margin-bottom: $padding-unit;
  border: 1px solid darken($table-background-color, 5%);
  background-color: $table-background-color;
  tr {
    &:nth-child(even) {
      background-color: lighten($table-background-color, 3%);
    }
  }
  th {
    background-color: darken($table-background-color, 3%);
    border: 1px solid darken($table-background-color, 5%);
    border-bottom:  1px solid darken($table-background-color, 12%);
  }
  td {
    border: 1px solid darken($table-background-color, 3%);
  }
  th, td {
    padding: ($padding-unit / 2) ($spacing-unit / 2)
  }
}

/*
 * Quotes
 */
blockquote {
  border-left: 4px solid $quote-border-color;
  padding-left: $spacing-unit / 2;
  font-style: italic;
  margin-bottom: $padding-unit;

  > :last-child {
    padding-bottom: 0;
  }
}

/*
 * Definition list
 */
