html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  font-family: $content-font;
  background: $background-color;
}

header {
  @include respond-to(big-screen) {
    position: fixed;
    width: $sidebar-width;
  }
  top: 0;
  left: 0;
  height: 100%;
  background: $sidebar-background-color;
}
main {
  @include respond-to(big-screen) {
    position: absolute;
    left: $sidebar-width;
    max-width: 50rem;
    padding: 1.5rem;
  }
  @include respond-to(small-screen) {
    padding: 1.5rem 1.5rem 15rem 1.5rem;
  }
}
footer {
  @include respond-to(big-screen) {
    position: fixed;
    width: $sidebar-width;
  }
  @include respond-to(small-screen) {
    position: absolute;
    width: 100%;
  }
  bottom: 0;
  left: 0;
  background: $sidebar-background-color;
}
